:root{
  --bs-warning-rgb: 250,128,7;
}

.input-group {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#flexSwitchCheckDefault{
  opacity: 0.5;;
}
#flexSwitchCheckDefault:active,
#flexSwitchCheckDefault:hover{
  opacity: 1;
}
.invalid {
  background-color: #fcc !important;
  color: #f00 !important;
  border-color: #f00 !important;
}
