body {
  background-color: #eee;
}

form {
  margin: 1em;
}

h3 {
  color: #666 !important;
  margin: 0.5em;
}

header {
  color: #666;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section {
  background-color: #f8f8f8;
  max-width: 18em;
  display: inline-block;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
}

form > div {
  display: block;
  float: left;
}

footer {
  margin: 1em;
  margin-top: 3em;
  clear: both;
  font-size: 0.8em;
}

footer h3 {
  font-size: 0.9em;
}

input:read-only {
  background-color: #f6f6f6 !important;
}
.form-group {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.input-group {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#result div {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5em;
  margin: 0.5em 0 0.5em 0;
  color: white;
}

#result header {
  margin-top: 1em;
}

.bg-warning {
  background-color: #8f0;
}

.invalid {
  background-color: #fcc !important;
  color: #f00 !important;
  border-color: #f00 !important;
}

